* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:#39373b;
    margin: 0 auto;
    color:#f0eeee;
}

.callout.large {
    background-image: url("../images/background.jpg");
    background-size:cover ;
    background-position: center;
    color:#f0eeee;
    font-size: 48px;
    font-family: 'Nova Cut',sans-serif;

}
.top-bar,.top-bar-right,.top-bar-left, .menu{
    color:#39373b;
    font-size: 16px;
    font-family: 'Nova Cut',sans-serif;
   
}
.menu-text{
    font-size:20px;
    font-style: oblique;
}

.thumbnail{
    padding: 5px;
    height:300px;
    width: 300px;

}
.thumbnail-profile{
    padding: 5px;
    height:auto;
    width: auto;

}

.h1{
    padding-top: 15px;
    font-family:'Nova Cut', sans-serif;
    font-size: 58px;
    
}
.h2{
    padding-top: 15px;
    font-family:'Nova Cut', sans-serif;
    font-size: 48px;
    color:#f0eeee;
    
}
.h3{
    padding-top: 10px;
    font-family:'Nova Cut', sans-serif;
    font-size: 30px;
    color:#f0eeee;
    
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Voces', sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
